<div class="container">
    <div class="left">
        <div class="profile">
            <div class="img">
                <img src="../../assets/boy.avif" class="image">
                <div class="rating"></div>
            </div>
            <div class="text">
                <h4>Hans Peter</h4>
                <p>Age 1994-04-02</p>
                <p>K-Number:</p>
                <p>2SR Number:</p>
                <p>SBK Number:</p>
                <p>Id : {{id}}</p>
            </div>
        </div>
        <div class="services">
            <div class="heading">
                <p>Services : </p>
            </div>
            <div class="text-service">
                <p>Acute Hospital</p>
                <p>Private core</p>
                <p>Retirement and nursing homes</p>
            </div>
        </div>
        <div class="hourly-rates">
            <div class="heading">
                <p>Hourly Rates : </p>
            </div>
            <div class="text-hour">
                <div>
                    <p>Acute Hospital</p>
                    <p>Private core</p>
                    <p>Retirement and nursing homes</p>
                </div>
                <div class="chf">
                    <p>CHF 45</p>
                    <p>CHF 45</p>
                    <p>CHF 45</p>
                </div>
              
            </div>
        </div>
        <div class="btn">
            <button>Request</button>
        </div>
    </div>
    <div class="right">
        <div class="documents">
            <h6 class="right-headings"><i class="fa-solid fa-file"></i>Documents</h6>
            <p>No document Found</p>
        </div>
        <div class="schedules">
            <h6 class="right-headings"><i class="fa-solid fa-calendar"></i>Schedules</h6>
            <div class="schedules-mid">
                <div class="schedules-text">
                    <div class="box">
                        <div class="box-text">
                            <p>Friday, March 20, 2020 - Tuesday, March 24, 2020</p>
                            <p  class="time">17:00 - 22.00</p>
                        </div>
                        <div class="status">
                            <p>Status : Not Avaliable</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-text">
                            <p>Friday, March 20, 2020 - Tuesday, March 24, 2020</p>
                            <p class="time">17:00 - 22.00</p>
                        </div>
                        <div class="status">
                            <p>Status : Not Avaliable</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-text">
                            <p>Friday, March 20, 2020 - Tuesday, March 24, 2020</p>
                            <p class="time">17:00 - 22.00</p>
                        </div>
                        <div class="status">
                            <p>Status : Not Avaliable</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-text">
                            <p>Friday, March 20, 2020 - Tuesday, March 24, 2020</p>
                            <p class="time">17:00 - 22.00</p>
                        </div>
                        <div class="status">
                            <p>Status : Not Avaliable</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="client-reviews">
            <h6 class="right-headings"><i class="fa-solid fa-comment"></i>Client Reviews</h6>
            <p>No request</p>
        </div>
    </div>
</div>
